<div class="background row">
  <h2>Initiative</h2>
  <!-- Present Initiatives list -->
  <div class="panel-group col-lg-12 col-sm-12" id="accordion1" role="tablist" aria-multiselectable="true">
    <div class="panel panel-info" *ngFor="let ini of initiatives;let i=index;">
      <div class="panel-heading" role="tab" id="headingOne">
        <b class="panel-title">
          <a role="button" data-toggle="collapse" data-parent="#accordion" href="#viewinitiative{{i}}" aria-expanded="true" aria-controls="collapseOne">
            {{ini.initiative}}
          </a>
        </b>
      </div>
      <div id="viewinitiative{{i}}" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
        <div class="panel-body">
          <div class="row">
            <p><b>Total Cost : </b>{{ini.totalCost}}</p>
            <div class="panel-group" id="accordion2" role="tablist" aria-multiselectable="true">
              <div class="panel panel-info" *ngFor="let act of ini.activities;let p = index;">
                <div class="panel-heading" role="tab" id="headingOne">
                  <b class="panel-title">
                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#viewActivity{{i}}" aria-expanded="true" aria-controls="collapseOne">
                      Activity {{ i+1 }}
                    </a>
                  </b>
                </div>
                <div id="viewActivity{{i}}" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                  <div class="panel-body">
                    <p> {{act.activity}}</p>
                    <div class="panel-group" id="accordion3" role="tablist" aria-multiselectable="true">
                      <div class="panel panel-info" *ngFor="let measr of act.measures;let me = index;">
                        <div class="panel-heading" role="tab" id="headingOne">
                          <b class="panel-title">
                            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#viewMeasure{{i}}" aria-expanded="true" aria-controls="collapseOne">
                              Measure {{ me+1 }}
                            </a>
                          </b>
                        </div>
                        <div id="viewMeasure{{i}}" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                          <div class="panel-body">
                            <div class="row">
                              <div class="col-lg-4 col-sm-12">
                                <b>Description:</b> {{measr.measure}}
                              </div>
                              <div class="col-lg-4 col-sm-12">
                                <b>Current Level:</b> {{measr.currentLevel}}
                              </div>
                              <div class="col-lg-4 col-sm-12">
                                <b>Frequency:</b> {{measr.frequency}}
                              </div>                            
                            </div>
                            <div class="row marginT-20">
                              <div class="center-align"><b> Annual Target</b></div>
                                <div class="row jumbotron" *ngFor="let td of measr.annualTarget;let at = index;">
                                  <div class="row">
                                    <div class="col-lg-4 col-sm-12">
                                      <b>Year:</b> {{ td.year }}
                                    </div>
                                    <div class="col-lg-4 col-sm-12">
                                      <b>Cost:</b> {{td.cost}}
                                    </div>    
                                    <div class="col-lg-4 col-sm-12">
                                      <b>Quater Levels:</b> {{td.levels.length}}
                                    </div>                                        
                                  </div>
                                  <div class="row marginT-20" *ngFor="let lev of td.levels; let in = index;">
                                    <div class="col-lg-3 col-sm-12">
                                        <b>Level:</b> {{ lev.level }}
                                    </div>                        
                                    <div class="col-lg-3 col-sm-12">
                                        <b>Quarter:</b> {{ lev.quarter }}
                                    </div>                        
                                    <div class="col-lg-3 col-sm-12">
                                        <b>Start Date:</b> start date
                                    </div>                        
                                    <div class="col-lg-3 col-sm-12">
                                        <b>End Date:</b> end date
                                    </div> 
                                  </div>
                                </div>
                            </div>
                          </div>
                        </div>
                      </div>



                  </div>
                </div>
              </div>
            </div>






            
            <!--<p><b>Activities : ╗</b></p>
            <div *ngFor="let act of ini.activities;let p = index;">
              <p><b>{{p + 1}}) Activity:</b>{{act.activity}}</p>
              <p><b>Measures : ╗</b></p>
              <div *ngFor="let measr of act.measures;let me = index;">
                <p><b>{{me + 1}}) Measure:</b>{{measr.measure}}</p>
                <p><b>Current Level:</b>{{measr.currentLevel}}</p>
                <p><b>Frequency:</b>{{measr.frequency}}</p>
                <p><b>Annual Target : ╗</b></p>
                <div class="row">
                  <div class="row" *ngFor="let td of measr.annualTarget;let at = index;">
                    <div class="row">
                      <div class="col-lg-4 col-sm-12">
                        Year: {{ td.year }}
                      </div>
                      <div class="col-lg-4 col-sm-12">
                        Cost: {{td.cost}}
                      </div>    
                      <div class="col-lg-4 col-sm-12">
                        Level: {{td.levels.length}}
                      </div>                                        
                    </div>
                    <div class="row" *ngFor="let lev of td.levels; let in = index;">
                       <div class="col-lg-3 col-sm-12">
                          Level: {{ lev.level }}
                       </div>                        
                       <div class="col-lg-3 col-sm-12">
                           Quarter:{{ lev.quarter }}
                       </div>                        
                       <div class="col-lg-3 col-sm-12">
                          Start Date: start date
                       </div>                        
                       <div class="col-lg-3 col-sm-12">
                         End Date: end date
                       </div> 
                    </div>
                  </div>
                </div>-->
              
            </div>
          </div> 
        </div>
      </div>
    </div>
  </div>
  <!-- End of Present Initiatives list -->
  <div class="card col-lg-12 col-sm-12" *ngIf="!submited">
    <div class="card-heading">
      <h3>Add Initiatives for Strategic Goal</h3>
    </div>
    <div class="card-content row">
      <form class="col-lg-12 col-sm-12" [formGroup]="initiativeForm" (submit)="submitInitiative()">
        <div class="row">
          <div class="panel-group col-lg-12 col-sm-12" id="accordion4" role="tablist" aria-multiselectable="true">
            <div class="panel panel-info">
              <div class="panel-heading" role="tab" id="headingOne">
                <b class="panel-title">
                  <a role="button" data-toggle="collapse" data-parent="#accordion" href="#addInitiative" aria-expanded="true" aria-controls="collapseOne">
                    Proposed Initiative / Initiative
                  </a>
                </b>
              </div>
              <div id="addInitiative" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                <div class="panel-body">
                  <div class="col-lg-6 col-sm-12">
                    <label class="control-label">Proposed Initiative / Initiative</label>
                    <textarea class="form-control" rows="3" formControlName="initiative"></textarea>
                  </div>
                  <div class="col-lg-6 col-sm-12">
                    <label class="control-label">Toatal Cost</label>
                    <div class="input-group">
                      <span class="input-group-addon">$</span>
                      <input type="number" class="form-control" placeholder="20000" formControlName="totalCost" aria-label="Amount (to the nearest dollar)">
                      <span class="input-group-addon">.00</span>
                    </div>
                  </div>
                  <div class="card card-panel marginT-20" formArrayName="activities">
                    <div *ngFor="let act of initiativeForm.controls.activities.controls;let i = index;" [formGroupName]="i" class="panel-group col-lg-12 col-sm-12"
                      id="accordion5" role="tablist" aria-multiselectable="true">
                      <hr>
                      <div class="panel panel-info">
                        <div class="panel-heading" role="tab">
                          <b class="panel-title">
                  <a role="button" data-toggle="collapse" data-parent="#accordion" href="#activity{{i}}" aria-expanded="true" aria-controls="collapseOne">
                    Proposed Activity - {{i+1}}
                  </a>
                  <span class="glyphicon glyphicon-remove hover-orange pull-right" (click)="removeActivity(initiativeForm,i)" aria-hidden="true"></span>
                </b>
                        </div>
                        <div id="activity{{i}}" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                          <div class="panel-body">
                            <div class="row">
                              <div class="col-lg-6 col-sm-12">
                                <label class="control-label">Activity</label>
                                <textarea class="form-control" rows="3" formControlName="activity"></textarea>
                              </div>
                              <div class="col-lg-6 col-sm-12">
                                <label class="control-label">Select Department</label>
                                <select class="form-control" formControlName="departments">
                                    <option value="1">Department 1</option>
                                    <option value="2">Department 2</option>
                                    <option value="3">Department 3</option>
                                </select>
                              </div>
                            </div>
                            <div class="row marginT-20">
                              <div formArrayName="measures">
                                <div class="panel-group" id="accordion6" role="tablist" aria-multiselectable="true">
                                  <div class="panel panel-info" *ngFor="let measureAct of initiativeForm.controls.activities.controls[i].controls.measures.controls;let j = index;"
                                    [formGroupName]="j">
                                    <div class="panel-heading" role="tab" id="headingOne">
                                      <b class="panel-title">
                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#setMeasure{{i}}" aria-expanded="true" aria-controls="collapseOne">
                         Set Measure {{ i+1 }} For The Activity
                        </a>
                        <span class="glyphicon glyphicon-remove hover-orange pull-right" (click)="removeMeasure(initiativeForm.controls.activities.controls[i],j)" aria-hidden="true"></span>
                      </b>
                                    </div>
                                    <div id="setMeasure{{i}}" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                                      <div class="panel-body">
                                        <div class="row">
                                          <div class="col-lg-4 col-sm-12">
                                            <label class="control-label">Measure</label>
                                            <textarea class="form-control" rows="3" formControlName="measure"></textarea>
                                          </div>
                                          <div class="col-lg-3 col-sm-12">
                                            <label class="control-label">Select Measurement Unit</label>
                                            <select class="form-control" formControlName="measureUnit">
                                <option value="Percent">Percent</option>
                                <option value="Number">Number</option>  
                              </select>
                                          </div>
                                          <div class="col-lg-2 col-sm-12">
                                            <div class="form-group">
                                              <label for="currentLevel">Current <br>Level</label>
                                              <input type="number" formControlName="currentLevel" class="form-control" id="currentLevel" placeholder="1">
                                            </div>
                                          </div>
                                          <div class="col-lg-3 col-sm-12">
                                            <label class="control-label">Frequency of Measurement</label>
                                            <select class="form-control" formControlName="frequencyId" (ngModelChange)="setTargetTable(initiativeForm.controls.activities.controls[i].controls.measures.controls[j].controls.annualTarget.controls,$event)">
                                <option value="1">Annually</option>
                                <option value="2">Semi-Annual</option>      
                                <option value="4">Quarterly</option> 
                          </select>
                                          </div>
                                        </div>
                                        <div class="row marginT-20">
                                          <div class="">
                                            <table class="">
                                              <thead>
                                                <tr>
                                                  <th colspan="3">{{commonService.getData('org_info')[0].cycle[0]}} - {{commonService.getData('org_info')[0].cycle[commonService.getData('org_info')[0].cycle.length-1]}}
                                                    Annual Target</th>
                                                </tr>
                                              </thead>
                                              <thead>
                                                <tr>
                                                  <th width="20%">Year</th>
                                                  <th width="60%">Levels</th>
                                                  <th width="20%">Cost</th>
                                                </tr>
                                              </thead>
                                              <tbody formArrayName="annualTarget">
                                                <tr *ngFor="let td of initiativeForm.controls.activities.controls[i].controls.measures.controls[j].controls.annualTarget.controls;let k = index;"
                                                  [formGroupName]="k">
                                                  <td>{{td.value.year}}</td>
                                                  <div style="display: inline-table;" formArrayName="levels">
                                                    <td *ngFor="let le of initiativeForm.controls.activities.controls[i].controls.measures.controls[j].controls.annualTarget.controls[k].controls.levels.controls;let l = index;"
                                                      [formGroupName]="l">
                                                      <input type="text" style="width:50%" formControlName="quarter" hidden>
                                                      <input type="text" style="width:50%" formControlName="startDate" hidden>
                                                      <input type="text" style="width:50%" formControlName="endDate" hidden>
                                                      <input type="text" style="width:50%" class="validate" formControlName="level">
                                                    </td>
                                                  </div>
                                                  <td><input type="text" class="validate" formControlName="cost"></td>
                                                </tr>
                                              </tbody>
                                            </table>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <button type="button" (click)="addMeasure(initiativeForm.controls.activities.controls[i])" class="btn btn-info" [disabled]="initiativeForm.controls.activities.controls[i].controls.measures.invalid">Add Measures</button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <hr>
        <div class="row">
          <button type="button" class="btn btn-info" (click)="addActivity()" [disabled]="initiativeForm.controls.activities.invalid">Add Activities</button>
          <button type="submit" class="btn btn-success" [disabled]="initiativeForm.invalid">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>
<div class="card-panel" *ngIf="submited">
  <span class="card-title">Added Initiative</span>
  <p><label>Initiative :</label>{{returnObject.initiative}}</p>
  <p><label>Total Cost :</label>{{returnObject.totalCost}}</p>
  <p><label>Activities</label></p>
  <div *ngFor="let act of returnObject.activities;let i=index;">
    <p><label>{{i}}</label>) {{act.activity}}</p>
    <p><label>Measures :</label></p>
    <div *ngFor="let m of act.measures;let j=index;">
      <p><label>{{j}}</label>) {{m.measure}}</p>
      <p><label>Current Level :</label>{{m.currentLevel}}</p>
    </div>
  </div>
  <button class="waves-effect waves-light btn" type="button" (click)="addMoreInitiative()">Add More Initiative</button>
</div>