<div class="background">
  <h2>Dashboard</h2>
  <div class="row">
    <h4>Assigned Goals</h4>
    <div class="col-lg-4 col-sm-12">
      <div class=" graph-table-cell" GoogleChart id="target_chart" [chartData]="targetData" 
      [chartOptions]="targetChartOption" chartType="PieChart" (onSelected)="onSelected($event)"></div>
    </div>
    <div class="col-lg-4 col-sm-12">
      <div class="graph-table-cell" GoogleChart id="approval_chart" [chartData]="approvalData" 
      [chartOptions]="approvalChartOption" chartType="PieChart" (onSelected)="onSelected($event)"></div>
    </div>
    <div class="col-lg-4 col-sm-12">
      <div class="graph-table-cell" GoogleChart id="progress_chart" [chartData]="progressData" 
      [chartOptions]="progressChartOption" chartType="ColumnChart" (onSelected)="onSelected($event)"></div>
    </div>
  </div>
<div class="background">
  <h2>Assigned Objectives </h2>
  <div class="panel-group" id="accordion">
    <div class="panel panel-info" *ngFor="let obj of assignedActivities; let i = index;">
      <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" [attr.data-target]="'#obj' + i">{{i+1}}) {{obj.objective}}</div>
      <div class="panel-body collapse" [attr.id]="'obj' + i" ><b>Related Initiatives</b>
        <div class="panel panel-default" *ngFor="let ini of obj.initiatives; let j = index;">
          <div class="panel-heading" data-toggle="collapse"  [attr.data-parent]="'#obj' + i" [attr.data-target]="'#obj' + i + 'ini' + j"><b>{{i+1}}.{{j+1}}</b>) {{ini.initiative}}</div>
          <div class="panel-body collapse" [attr.id]="'obj' + i + 'ini' + j"><b>Related Activities</b>
            <div class="panel panel-default" *ngFor="let act of ini.activities; let k = index;">
              <div class="panel-heading" data-toggle="collapse"  [attr.data-parent]="'#obj' + i + 'ini' + j" [attr.data-target]="'#obj' + i + 'ini' + j + 'act' + k"><b>{{i+1}}.{{j+1}}.{{k+1}}</b>) {{act.activity}}</div>
              <div class="panel-body collapse" [attr.id]="'obj' + i + 'ini' + j + 'act' + k"><b>Related Measures</b>
                <div class="panel panel-default" *ngFor="let measr of act.activityMeasures;let l = index;">
                  <div class="panel-heading" data-toggle="collapse"  [attr.data-parent]="'#obj' + i + 'ini' + j + 'act' + k" [attr.data-target]="'#obj' + i + 'ini' + j + 'act' + k + 'measr' + l"><b>{{i+1}}.{{j+1}}.{{k+1}}.{{l+1}}</b>) {{measr.measure}}</div>
                  <div class="panel-body collapse" [attr.id]="'obj' + i + 'ini' + j + 'act' + k + 'measr' + l">
                    <label>Current Level:</label> {{measr.currentLevel}}<br>
                    <label>Frequency:</label> {{measr.frequency}}
                    <div class="panel panel-default">
                      <div class="panel-heading text-center"><b>Annual Target</b></div>
                      <div class="panel-body">
                        <table class="table">
                          <thead>
                            <tr>
                              <th>Year</th>
                              <th>Estimated Cost</th>
                              <th>Target</th>
                              <th>End Date</th>
                              <th></th>
                            </tr>
                          </thead>
                          <tbody *ngFor="let tdl of measr.annualTarget;let at = index;">
                            <tr>
                              <td style="vertical-align: middle;" [attr.rowspan]="tdl.levels.length + 1">{{ tdl.year }}</td>
                              <td style="vertical-align: middle;" [attr.rowspan]="tdl.levels.length + 1">{{tdl.estimatedCost}}</td>
                            </tr>
                            <tr *ngFor="let lev of tdl.levels; let in = index;">
                              <td>{{ lev.estimatedTargetLevel }}</td>
                              <td>{{ lev.endDate }}</td>
                              <td><button type="button" class="btn btn-primary">View Filled Target</button></td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" style="float: left">Upload files for Evidence</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-lg-10 col-sm-10">
            <div class="form-group">
              <label for="exampleInputFile">Files</label>
              <input type="file" id="exampleInputFile" multiple>
              <p class="help-block">Upload file</p>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>

<!-- chat -->
<div id="chat" class="panel panel-chat">
  <div class="panel-heading">
    <a href="#" class="chatMinimize" onclick="return false"><span>{{complaintTitleOfCommentModel | uppercase}}</span></a>
    <a href="#" class="chatClose" onclick="return false"><i class="glyphicon glyphicon-remove"></i></a>
    <div class="clearFix"></div>
  </div>
  <div class="panel-body">
    <!--<div class="row text-center">
      <loader [condition]="!comments"></loader>
    </div>-->
    <div *ngFor="let c of comments">
      <div *ngIf="c.employeeId == currentUser">
        <div class="myMsg">
          <img src="http://www.clker.com/cliparts/f/8/a/6/1376432218623075512little%20girl%20dreaming-hi.png" class="myImg" />
          <div class="myText">
            <span class="myText-style">
              {{c.comment}}
            </span>
          </div>
        </div>
        <div class="myMsgDate">
          me: {{c.commentedOn|date}}
        </div>
      </div>
      <div *ngIf="c.employeeId != currentUser">
        <div class="msg">
          <img src="http://www.kpop-map.com/wp-content/uploads/2016/01/sm-rookies-kun-profile.jpg" class="img" />
          <div class="text">
            <span class="text-style">
              {{c.comment}}
            </span>
          </div>
        </div>
        <div class="msgDate">
          <span *ngIf="c.employeeName">{{c.employeeName}}</span>
          <span *ngIf="c.parentName">{{c.parentName}}</span>
          <span>: {{c.commentedOn|date}}</span>
        </div>
      </div>
    </div>
    <div class="clearFix"></div>
  </div>
  <div class="panel-footer" *ngIf="closedOn">
    <form [formGroup]="commentForm" (submit)="submitComment()">
      <textarea name="comment" formControlName="comment" cols="0" rows="0"></textarea>
      <span class="send-button">
        <button type="submit" class="btn btn-success btn-circle btn-lg"><i class="glyphicon glyphicon-share-alt"></i></button>
    </span>
    </form>
  </div>
</div>