    main{
      margin-right: 15px;
    
    }
    /* Set height of the grid so .sidenav can be 100% (adjust if needed) */
    .row.content {height: 100vh}
    
    /* Set gray background color and 100% height */
    .sidenav {
      background:white;
      height: 110%;
      padding: 0px;
    }
    
    /* Set black background color, white text and some padding */
    footer {
      background-color: #555;
      color: var(--main-text-color);
    }
    
    /* On small screens, set height to 'auto' for sidenav and grid */
    @media screen and (max-width: 767px) {
      .sidenav {
        height: auto;
        padding: 15px;
      }
      .row.content {height: auto;} 
    }

    /* side bar header */
    .sidebar-header{
      height:150px;
      background: url('/images/background.svg');
      background-size:100% cover;
      background-color: var(--main-color);
      padding-top:30px;
    }

    .sidebar-image{
      width: 80px;
      border-radius: 100%;
      border: 3px solid var(--main-text-color);
    }

    .text-white{
      color:var(--main-text-color);
    }

.active{
  background:var(--main-color) !important;
  color:var(--main-text-color) !important;
}

.nav a{
  color:var(--main-gray-text);
}

.active a{
  color:var(--main-text-color);
  font-weight:bold;
}

.nav li{
  border-top:2px solid var(--main-light-border);
  padding-left:20px;
}

.nav li a:hover{
    background:var(--main-color);
  color:var(--main-text-color) !important;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
    color: var(--main-text-color);
    background-color: var(--main-color) ;
}

.nav li span{
  padding-right:20px;
}

.main-text-color{
  color: var(--main-color);
}
