<nav class="navbar navbar-default navbar-fixed-top bWhite" *ngIf="isLoggedIn()">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
        aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" id="menu-toggle" style="cursor: pointer"><i class="glyphicon glyphicon-menu-hamburger"></i></a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <!--<ul class="nav navbar-nav">
        <li><a><span class="glyphicon glyphicon-user" aria-hidden="true"></span><span class="sr-only">(current)</span></a></li>
      </ul>

      <form class="navbar-form navbar-left">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
      </form>-->
      <ul class="nav navbar-nav navbar-right">
        <!--<li><a><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span></a></li>
        <li><a><span class="glyphicon glyphicon-bell" aria-hidden="true"></span> </a></li>-->
        <li><a [routerLink]="['/'+commonService.getData('user_roleInfo')[0].role+'-home']">Home</a></li>
        <li><a [routerLink]="['/dashboard']">Dashboard</a></li>
        <!--<li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Role<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a>Role 1</a></li>
            <li><a>Role 2</a></li>
            <li><a>Role 3</a></li>
            <li role="separator" class="divider"></li>
            <li><a>Role 4</a></li>
          </ul>
        </li>-->
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Mr. Andrew<i style="padding-left:5px;" class="glyphicon glyphicon-chevron-down"></i></a>
          <ul class="dropdown-menu">
            <li><a>Profile</a></li>
            <li><a>History</a></li>
            <li><a>Help</a></li>
            <li role="separator" class="divider"></li>
            <li><a (click)="logout()">Logout</a></li>
          </ul>
        </li>
        <!--<li>
          <a><img width="20px" src="https://media.licdn.com/mpr/mpr/shrinknp_200_200/p/4/005/08e/246/28ca3a5.jpg" alt="no-picture"
              class="img-circle"></a>
        </li>-->
      </ul>
    </div>
  </div>
</nav>
<main>
  <div id="wrapper">

    <!-- Sidebar -->
    <div id="sidebar-wrapper" *ngIf="isLoggedIn()" style="background:white">
      <div class="sidebar-header">
        <img class="sidebar-image center-box" src="https://www.thersa.org/globalassets/profile-images/staff/ben-dellot.jpg">
        <div class="text-center">
          <h5 class="text-white">Mr. Andrew Williams</h5>
        </div>
      </div>
      <ul class="nav nav-pills nav-stacked" *ngIf="commonService.getData('user_roleInfo')[0].role == 'admin'">
        <li routerLinkActive="active"><a [routerLink]="['/'+commonService.getData('user_roleInfo')[0].role+'-home']"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>Home</a></li>
        <li routerLinkActive="active"><a [routerLink]="['/new-university']"><span class="glyphicon glyphicon-refresh" aria-hidden="true" ></span>Add University</a></li>
        <li routerLinkActive="active"><a [routerLink]="['/new-department']"><span class="glyphicon glyphicon-italic" aria-hidden="true"></span>Add Department</a></li>
        <li routerLinkActive="active"><a [routerLink]="['/new-employee']"><span class="glyphicon glyphicon-screenshot" aria-hidden="true"></span>Add Employee</a></li>
        <li routerLinkActive="active"><a [routerLink]="['/existing-department']"><span class="glyphicon glyphicon-screenshot" aria-hidden="true"></span>Existing Department</a></li>
        <li routerLinkActive="active"><a [routerLink]="['/add-role']"><span class="glyphicon glyphicon-screenshot" aria-hidden="true"></span>Add Role</a></li>
      </ul><br>
      <ul class="nav nav-pills nav-stacked" *ngIf="commonService.getData('user_roleInfo')[0].role == 'planner'">
        <li class="active"><a [routerLink]="['/'+commonService.getData('user_roleInfo')[0].role+'-home']"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>Home</a></li>
        <li><a><span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>Cycle</a></li>
        <li><a><span class="glyphicon glyphicon-italic" aria-hidden="true"></span>Initiatives</a></li>
        <li><a><span class="glyphicon glyphicon-screenshot" aria-hidden="true"></span>Objectives</a></li>
      </ul><br>
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">
      <!--<a id="menu-toggle" style="cursor: pointer"><i class="glyphicon glyphicon-menu-hamburger"></i></a>-->
      <router-outlet></router-outlet>
    </div>
    <!-- /#page-content-wrapper -->
  </div>
</main>