<div class="row">
  <h3>Strategic Goals</h3>
  <ul class="collapsible popout" data-collapsible="accordion">
    <li *ngFor="let g of objectives; let i = index;">
      <div class="collapsible-header active"><b>{{g.objective}}</b><i class="material-icons right" style="margin-right: 0rem;">close</i></div>
      <div class="collapsible-body">
        <div class="row">
          <div class="row" *ngFor="let spi of g.spis; let j = index;">
            <div class="col s12 m12">
              <div class="card-panel" style="margin:1rem !important">
                <span class="card-title"><i class="material-icons">label_outline</i><b>Strategic Performance indicator</b><i class="material-icons right">close</i></span>
                <p style="    padding: 0 2rem !important;">{{spi.spi}}</p>
                <b>CurrentLevel : </b>{{spi.currentLevel}}
                <table>
                  <thead>
                    <tr>
                      <th>Target Digital</th>
                    </tr>
                  </thead>
                  <thead>
                    <tr>
                      <th *ngFor="let y of spi.targetDigital">{{y.year}}</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td *ngFor="let td of spi.targetDigital;">{{td.level}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <a class="waves-effect waves-light btn" style="float: right;right: 25px;" [routerLink]="['/goal-initiative',g.id]">Add Initiative</a>
        </div>
      </div>
    </li>
  </ul>
  <form class="col s12" [formGroup]="goalForm" (submit)="onSubmit()" *ngIf="!submited">
    <div class="row">
      <div class="col s12 m12">
        <div class="card-panel ">
          <span class="card-title">New Goal<i class="material-icons right" (click)="addGoalForm = false">close</i></span>
          <div class="input-field col s12">
            <textarea id="textarea1" formControlName="objective" class="materialize-textarea" style="margin: 0 !important"></textarea>
            <label for="textarea1">Enter Objective</label>
            <div [hidden]="goalForm.controls.objective.valid || goalForm.controls.objective.pristine">*objective is required</div>
          </div>
          <div class="input-field col s12">
            <input id="total_cost" type="number" class="validate" formControlName="totalCost">
            <label class="active" for="total_cost">Total Cost</label>
            <div [hidden]="goalForm.controls.totalCost.valid || goalForm.controls.totalCost.pristine">*enter a valid total cost</div>
          </div>
          <div class="card-action">
            <div formArrayName="spis">
              <div class="card-panel row" *ngFor="let s of goalForm.controls.spis.controls;let i = index;" [formGroupName]="i">
                <span class="card-title activator">Strategic Performance indicator<i class="material-icons right" (click)="removeSpi(i)">close</i></span>
                <div class="input-field col s12">
                  <textarea id="textarea2" formControlName="spi" class="materialize-textarea" style="margin: 0 !important"></textarea>
                  <label for="textarea2">Enter SPI</label>
                  <div [hidden]="goalForm.controls.spis.controls.spi.valid || goalForm.controls.spis.controls.spi.pristine">*SPI is required</div>
                </div>
                <div class="col s12">
                  <label>Select Measure</label>
                  <select formControlName="measureUnit">
                    <option value="" disabled selected>Choose Measurement Unit</option>
                    <option value="Percent">Percent</option>
                    <option value="Decimal">Decimal</option>
                  </select>                  
                </div>
                <div class="input-field col s12">
                  <input id="cur_level" type="text" class="validate" formControlName="currentLevel">
                  <label class="active" for="cur_level">Enter Current Level</label>
                </div>
                <table>
                  <thead>
                    <tr>
                      <th>Target Digital</th>
                    </tr>
                  </thead>
                  <thead>
                    <tr>
                      <th>Year</th>
                      <th>Level</th>
                    </tr>
                  </thead>
                  <tbody formArrayName="targetDigital">
                    <tr *ngFor="let td of goalForm.controls.spis.controls[i].controls.targetDigital.controls;let m = index;" [formGroupName]="m">
                      <td>{{td.value.year}}</td>
                      <td><input value="2011" id="level_'m'" type="text" class="validate" formControlName="level"></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <button type="button" class="waves-effect waves-light btn" (click)="addSpi()">Add SPI</button>
            <button class="btn waves-effect waves-light" type="submit" name="action">Submit</button>
          </div>
        </div>
      </div>
    </div>
  </form>
  <div *ngIf="submited">
    <h3>You have added...</h3>
    <p><label>Objective : </label> {{returnedObject.objective}}</p>
    <p><label>Total Cost</label> : {{returnedObject.totalCost}}</p>
    <p><label>Spis:</label></p>
    <div *ngFor="let s of returnedObject.spis;let i = index;">
      <p><label>{{i}}) SPI :</label>{{s.spi}}</p>
      <p><label> CurrentLevel :</label>{{s.currentLevel}}</p>
      <p><label> Measure Unit :</label>{{s.measureUnit}}</p>
      <div *ngFor="let t of s.targetDigital;let j = index;">
        <p><label>{{t.year}} : </label>{{t.level}}</p>
      </div>
    </div>
    <button type="button" class="waves-effect waves-light btn" (click)="addMoreObjective()">Add More Objeactive</button>
    <button type="button" class="waves-effect waves-light btn" [routerLink]="['/goal-initiative',orgId]">Add Initiative</button>
  </div>
</div>